#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.so
*.o
*.d
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.deb
*.pyc
ipch/
#obj/
[Bb]in
#[Dd]ebug/
[Rr]elease*/
[Dd]efault*/
[Uu]clinux*/
[Aa]rago*/
[i]mx6*/
[Dd]ocuments/
Ankh.NoLoad
python/__pycache__/*
build_*-linux
build_cor*
build_x86*

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
#[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
products/KDS-4/debian/KDS-DEC4.kpt
products/KDS-4/debian/KDS-DEC4.kptw
products/KDS-4/debian/KDS-EN4.kpt
products/KDS-4/debian/KDS-EN4.kptw
products/KDS-4/debian/KDS-DEC4.kfw
products/KDS-4/debian/KDS-EN4.kfw
products/KDS-4/debian/kds-kdec-4.deb
products/KDS-4/debian/kds-kdec-4.tgz
products/KDS-4/debian/kds-ken-4.deb
products/KDS-4/debian/kds-ken-4.tgz
products/KDS-DEC4/property_tree.h
products/KDS-DEC4/property_tree.cpp
products/KDS-DEC4/tree_config.pyc
products/KDS-EN4/property_tree.cpp
products/KDS-EN4/property_tree.h
products/KDS-EN4/tree_config.pyc
products/SL-280/property_tree.cpp
products/SL-280/property_tree.h
products/SL-280/tree_config.pyc
products/VS-41H2/property_tree.cpp
products/VS-41H2/property_tree.h
products/VS-41H2/tree_config.pyc
products/VS-88UT/property_tree.cpp
products/VS-88UT/property_tree.h
products/VS-88UT/tree_config.pyc
products/VS-8FDXL/property_tree.cpp
products/VS-8FDXL/property_tree.h
products/VS-8FDXL/tree_config.pyc
products/SL-240/property_tree.cpp
products/SL-240/property_tree.h
products/Sii9612Client/property_tree.cpp
products/Sii9612Client/property_tree.h
products/StatisticsTest/stats_config.pyc
products/StatisticsTest/stats_tree.h
products/SLImager/property_tree.cpp
products/SLImager/property_tree.h
products/SLImager/tree_config.pyc
products/SL-240/tree_config.pyc
products/*/property_tree.cpp
products/*/property_tree.h
products/*/property_tree_r.cpp
